.container{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin:0;
}

@media (min-aspect-ratio: 9/16){
  .container{
    width: calc(100vh * 9 / 16);
    height: 100vh;
    margin: auto;
  }
}

p{
  margin-top: 0;
}

.pages{
  box-sizing: border-box;
}

.page{
  position: relative;
  width: 100%;
  height: 100vh;
  transition: all 0.7s;
}

.arrow{
  position: absolute;
  width: 10%;
  height: auto;
  bottom: 30px;
  left: 45%;
  animation: floating 2s ease-in-out infinite;
}

.one{
  background-image: url("cover_page.png");
  background-size: cover;
  text-align: center;
}

.activated{
  background-color: rgb(252, 158, 25) !important;
  animation: button_floating 2s ease-in-out infinite;
}

.downloadBtn{
  background-color: rgb(252, 158, 25) !important;
}

.btn{
  position: absolute; 
  font-size: 25px;
  border: none;
  height: 60px;
  width: 60%;
  left: 20%;
  bottom: 10vh;
  background-color: rgb(119, 119, 119);
  text-align: center;
  box-shadow: 2px 4px 5px 0;
  border-radius: 20px;
}

.privacy{
  position: absolute;
  bottom: 5vh;
  text-align: center;
  font-size: 13px;
  display: block;
  width: 100%;
  color:rgb(92, 94, 89)
}

.privacy a{
  color:rgb(92, 94, 89)
}


.icon{ 
  display: block;
  width: 30%;
  height: auto;
  margin-left: 35%;
  margin-top: 0;
  padding-top: 10vh;
  padding-bottom: 2vh;
  object-fit: cover;
  border-radius: 50%;
}

.two{
  background-color: lime;
}

.three{
  background-color: rgb(129, 236, 246);
}

.four{
  background-color: rgb(110, 62, 94);
}

.five{
  background-color: rgb(214, 243, 148);
}

#myCanvas{
  box-sizing: border-box;
  position: relative;
  margin-top: 8vh;
  margin-left: 5%;
  padding:0;
  width: 90vw;
  height: calc(90vw*1.5);
  /* border:5px solid #000000; */
}

.newly-added {
  animation: flyin 1.2s ease forwards;
  opacity: 0;
  transform: scale(2);
  filter: blur(4px);
}

.fadeOut {
  animation: fadeOut 1.2s ease forwards;
}

h1{
  margin: 0;
}


@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}

@keyframes flyin {
   to { 
     filter: blur(0);
     transform: scale(1);
     opacity: 1;
   }
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes button_floating {
  0% { transform: translate(0,  -0px);
        box-shadow: 2px 4px 5px 0; }
  50%  { transform: translate(-2, -4px); 
        box-shadow: 0px 0px 0 0;}
  100%   { transform: translate(0, 0px);
         box-shadow: 2px 4px 5px 0; }   
}

